[bumpversion]
current_version = {{cookiecutter.version}}
commit = True
tag = True
message = :bookmark: release(common): {current_version} → {new_version}

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
